#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  background: #006992;
  border-radius: 5px;
  padding: .5rem 2rem;
  color: #FFFFFA;
  font-size: 1rem;
  margin: 0 2rem;
  transition: .2s;
  cursor: pointer;
}
button:hover {
  background: #001D4A;

}

html, body {
  background: #FFFFFA;
}

.count {
  font-size: 5rem;
}
